.About {
    display: flex;
    flex-direction: column;
  }
  
  .about-text {
    padding-bottom: 5px;
  }
  
  .edu-text {
    padding-bottom: 5px;
    padding-left: 2px;
  }
  
  .education {
    margin-bottom: 20px;
  }
  
  .school-container {
    margin-top: 10px;
    display: flex; /* Aligns the logo and info sections horizontally */
    align-items: flex-end; /* Aligns children (logo and info) at the top */
    margin-bottom: 40px;
  }

  .bottom-school-container {
    margin-bottom: 20px;
  }


  .school-logo {
    margin-left: 30px;
    margin-bottom: 10px;
  }

  .gopher-logo {
    margin-left: 10px;
  }

  .school-info {
    margin-left: 20px;
    max-width: 1200px;
    width: 100%;
  }

  .school-info .row {
    display: flex;
    justify-content: space-between;
  }

  .school-info .row .title {
    font-size: 18px;
    font-weight: 500;
  }

  .school-info .row .major {
    font-style: italic;
  }

  .school-info .row .gpa {
    font-weight: 600;
  }

  .experience {
    margin-bottom: 20px;
  }

  .company-logo {
    margin-left: 20px;
  }

  .ubi-logo {
    margin-left: 25px;
  }
  
  .company-info {
    margin-left: 20px;
  }

  .company-container {
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
  }

  .company-info .row .title {
    font-size: 18px;
    font-weight: 500;
  }
  