.Protfolio .title {
    font-size: 3em;
    /* text-align: center; */
    font-weight: 500;
}

.protfo-btn {
    border-radius: 50px;
    height: 30px;
    width: 110px;
    background-color: transparent;
    cursor: pointer;
    
    border: 2px solid;
    background-color: transparent;
    border-color: #2c2c2c;

    margin-right: 30px;
    margin-top: 15px;
}

.protfo-btn .button-text {
    color: rgb(48, 89, 171);
    font-weight: 600;
}

.Protfolio .protfolio-container .item {
    display: flex;
}

.protfolio-container .item .image {
    margin-right: 60px;
}

.item {
    margin-top: 70px;
}

.item-first {
    margin-top: 30px;
}

.item .desc .title {
    font-size: 1.8em;
    display: flex;
    justify-content: ce;
}
.desc .lables {
    margin-top: 10px;
}
.desc .lables .btn{
    border: 2px solid;
    background-color: transparent;
}
.desc .intro {
    margin-top: 15px;
    width: 600px;
}

.indent {
    margin-left: 15px;
}

.green {
    color: green;
    border-color: #04AA6D;
}

.red {
    border-color: #f44336;
    color: red;
}

.blue {
    border-color: #2196F3;
    color: dodgerblue;
}

.purple {
    color: #a900bc;
    border-color: #a900bc;
}

.yellow {
    color: #ffe113;
    border-color: #ffe113;
}

.brown {
    color: #8c6c40;
    border-color: #8c6c40;
}

.item .desc .title a {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 20px;
}
.proj-git-btn {
    border-radius: 50px;
    height: 25px;
    width: 110px;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid;
    background-color: #8c6c40;
    border-color: #2c2c2c;
    margin-top: 5px;
}

.proj-git-btn .button-text{
    color: white;
    font-weight: 600;
}