
.skills-container {
    display: inline-block;
    position: relative;
    margin-top: 150px;
    left: 50%;
    transform: translateX(-50%);
}

.Skills .title {
    font-size: 2.5em;
    text-align: center;
    font-weight: 500;

}

.Skills .row {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.skills-container .title {
    margin-right: 20px;
    font-size: 1.3em;
}

.row .content {
    font-size: 1.3em;
    display: flex;
}

.skill-item {
    margin-right: 10px;
}

/* .row .lan-btn-c {
    margin-right: 10px;
    font-size: 1em;
    border: 2px solid black;
    background-color: transparent;
    border-color: #04AA6D;
    color: #04AA6D;
    border-color: #f44336;
  color: red
}

.row .lan-btn-java {
    margin-right: 10px;
    font-size: 1em;
    border: 2px solid black;
    background-color: transparent;
    border-color: #2196F3;
    color: dodgerblue
}

.row .lan-btn-python {
    margin-right: 10px;
    font-size: 1em;
    border: 2px solid black;
    background-color: transparent;
  border-color: #04AA6D;
    color: #04AA6D;
}

.row .lan-btn-php {
    margin-right: 10px;
    font-size: 1em;
    border: 2px solid black;
    background-color: transparent;
  border-color: #6804aa;
    color: #6804aa;
} */